@keyframes fadeInOut {
  0% {opacity: 0;}
  10% {opacity: 0;}
  50% {opacity: 1;}
  90% {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes fadeIn {
  0% { opacity: 0; }
  5% { opacity: 0; }
  100% { opacity: 1; }
}

.txt {
  font-family: "Clicker Script", cursive;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black; 
  text-decoration: none; 
  cursor: pointer;  
}

.logoTxt {
  color: black;
  font-family: "Clicker Script", cursive;
  text-shadow: 1px 1px #fbc816;
  font-weight: 600;
  text-decoration: none;
  border: none;
  background-color: inherit;
}

.linkTxt {
  color: black;
  font-family: "Clicker Script", cursive;
  text-shadow: 1.5px 2px #fbc816;
  font-weight: 600;
  text-decoration: none;
  border: none;
  background-color: inherit;
}

.linkTxt:active {
  color: black;
  opacity: 0.7;
}

.linkTxt:hover {
  color: black;
}

.divider {
  background-image: linear-gradient(#f7f7f7, #292b2c);
  padding: 4px;
}

.dropdown-item:active {
  background-color: #ffc107;
}

.loadFade {
  animation: fadeIn 3s;
}

.caroFade {
  animation: fadeInOut 7s;
}

.list-group-item {
  border: 0;
}